Repository antonmauz/onlineIDE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: compiler:publish, project:publish, ui:publish

compiler:publish:
  stage: publish
  image: docker:stable
  services:
  - docker:25.0.1-dind
  script:
  - cd compiler
  - docker login -u$CI_REGISTRY_USER -p$CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
  ...

project:publish:
  stage: publish
  image: docker:stable
  services:
  - docker:25.0.1-dind
  script:
  - cd project
  - docker login -u$CI_REGISTRY_USER -p$CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
  ...

ui:publish:
  stage: publish
  image: docker:stable
  services:
  - docker:25.0.1-dind
  script:
  - cd ui
  - docker login -u$CI_REGISTRY_USER -p$CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
  ...

changed setup of google cloud and added maven ci in gitlab file
  .gitlab-ci.yml
Due: none

Add SourceFileDTO and modify SourceFileController to create a SourceFile with Project reference
  project/src/main/java/edu/tum/ase/project/controller/SourceFileController.java
  project/src/main/java/edu/tum/ase/project/model/Project.java
  project/src/main/java/edu/tum/ase/project/model/SourceFile.java
  project/src/main/java/edu/tum/ase/project/model/SourceFileDTO.java
  project/src/main/java/edu/tum/ase/project/service/SourceFileService.java
  ui/frontend/src/app/classes/project/project.spec.ts
  ui/frontend/src/app/classes/sourceFile/sourceFile.ts
  ui/frontend/src/app/components/source-file-list/source-file-list.component.ts
Due: project:publish, ui:publish

small changes to test pipeline
  .gitlab-ci.yml
Due: none

new functional tests added
  project/src/test/java/edu/tum/ase/project/ProjectControllerTests.java
Due: project:publish

Small fix
  project/src/test/java/edu/tum/ase/project/ProjectControllerTests.java
Due: project:publish

removed class
  project/src/test/java/edu/tum/ase/project/ProjectControllerTests.java
Due: project:publish

change in gitlab runner
  project/src/test/java/edu/tum/ase/project/ProjectE2ERestTest.java
Due: project:publish

Added publishing stage to gitlab-ci file
  .gitlab-ci.yml
Due: none

deploy job
  .gitlab-ci.yml
Due: none

new cloud setup
  project/src/test/java/edu/tum/ase/project/ProjectE2ERestTest.java
Due: project:publish

restarted Gitlab runner
  project/src/test/java/edu/tum/ase/project/ProjectE2ERestTest.java
Due: project:publish

test
  .gitlab-ci.yml
  project/src/test/java/edu/tum/ase/project/ProjectE2ERestTest.java
Due: project:publish

Changed Image
  .gitlab-ci.yml
  project/src/test/java/edu/tum/ase/project/ProjectE2ERestTest.java
Due: project:publish

test new branch
  .gitlab-ci.yml
  project/src/test/java/edu/tum/ase/project/ProjectE2ERestTest.java
Due: project:publish

update project list to contain files amount
  ui/frontend/src/app/components/project-list/project-list.component.html
  ui/frontend/src/app/components/project-list/project-list.component.ts
Due: ui:publish

display correct project-file
  ui/frontend/src/app/components/editor/editor.component.html
  ui/frontend/src/app/components/editor/editor.component.ts
  ui/frontend/src/app/components/source-file-list/source-file-list.component.html
  ui/frontend/src/app/components/source-file-list/source-file-list.component.ts
  ui/frontend/src/app/services/sourceFile/source-file.service.spec.ts
  ui/frontend/src/app/services/sourceFile/source-file.service.ts
Due: ui:publish

Add styling for selected file in source file list
  ui/frontend/src/app/components/source-file-list/source-file-list.component.css
  ui/frontend/src/app/components/source-file-list/source-file-list.component.html
  ui/frontend/src/app/components/source-file-list/source-file-list.component.ts
Due: ui:publish

Update devtools restart configuration for /projects
  project/src/main/resources/application-dev.yaml
  project/src/main/resources/application-prod.yaml
Due: project:publish

Update project/pom.xml with devtool dependency
  project/pom.xml
Due: project:publish

Add .vscode/launch.json to .gitignore
  .gitignore
Due: none

Refactor package structure and fix test cases
  compiler/src/test/java/edu/tum/ase/compiler/CompilerControllerTest.java
  project/src/test/java/edu/tum/ase/project/ProjectE2ERestTest.java
  project/src/test/java/edu/tum/ase/project/ProjectRepositoryIT.java
Due: compiler:publish, project:publish

add new project name to FE
  ui/frontend/src/app/components/source-file-list/source-file-list.component.css
  ui/frontend/src/app/components/source-file-list/source-file-list.component.html
Due: ui:publish

Add super rough shareProject endpoint to ProjectController
  project/src/main/java/edu/tum/ase/project/controller/ProjectController.java
  project/src/main/java/edu/tum/ase/project/model/Project.java
  project/src/main/java/edu/tum/ase/project/model/ShareProjectDTO.java
  ui/pom.xml
  ui/src/main/java/com/example/ui/WebSecurityConfiguration.java
Due: project:publish, ui:publish

Remove unused imports in ProjectController
  project/src/main/java/edu/tum/ase/project/controller/ProjectController.java
Due: project:publish

add api-gateway microservice
  api-gateway/.gitignore
  api-gateway/.mvn/wrapper/maven-wrapper.jar
  api-gateway/.mvn/wrapper/maven-wrapper.properties
  api-gateway/mvnw
  api-gateway/mvnw.cmd
  api-gateway/pom.xml
  api-gateway/src/main/java/com/ase/gateway/apigateway/ApiGatewayApplication.java
  api-gateway/src/main/resources/application.properties
  api-gateway/src/test/java/com/ase/gateway/apigateway/ApiGatewayApplicationTests.java
Due: none

Revert "add api-gateway microservice"
  api-gateway/.gitignore
  api-gateway/.mvn/wrapper/maven-wrapper.jar
  api-gateway/.mvn/wrapper/maven-wrapper.properties
  api-gateway/mvnw
  api-gateway/mvnw.cmd
  api-gateway/pom.xml
  api-gateway/src/main/java/com/ase/gateway/apigateway/ApiGatewayApplication.java
  api-gateway/src/main/resources/application.properties
  api-gateway/src/test/java/com/ase/gateway/apigateway/ApiGatewayApplicationTests.java
Due: none

add api-gateway microservice
  gateway/.gitignore
  gateway/.mvn/wrapper/maven-wrapper.jar
  gateway/.mvn/wrapper/maven-wrapper.properties
  gateway/mvnw
  gateway/mvnw.cmd
  gateway/pom.xml
  gateway/src/main/java/edu/tum/ase/gateway/GatewayApplication.java
  gateway/src/main/resources/application.yaml
  gateway/src/test/java/edu/tum/ase/gateway/GatewayApplicationTests.java
Due: none

add input-modal component
  ui/frontend/src/app/app.module.ts
  ui/frontend/src/app/components/input-modal/input-modal.component.css
  ui/frontend/src/app/components/input-modal/input-modal.component.html
  ui/frontend/src/app/components/input-modal/input-modal.component.spec.ts
  ui/frontend/src/app/components/input-modal/input-modal.component.ts
  ui/frontend/src/app/components/source-file-list/source-file-list.component.html
  ui/frontend/src/app/components/source-file-list/source-file-list.component.ts
Due: ui:publish

connect input modal and addFile
  ui/frontend/src/app/components/input-modal/input-modal.component.html
  ui/frontend/src/app/components/input-modal/input-modal.component.ts
  ui/frontend/src/app/components/source-file-list/source-file-list.component.html
  ui/frontend/src/app/components/source-file-list/source-file-list.component.ts
Due: ui:publish

Add discovery server
  discoveryserver/.gitignore
  discoveryserver/.mvn/wrapper/maven-wrapper.jar
  discoveryserver/.mvn/wrapper/maven-wrapper.properties
  discoveryserver/mvnw
  discoveryserver/mvnw.cmd
  discoveryserver/pom.xml
  discoveryserver/src/main/java/edu/tum/ase/discoveryserver/DiscoveryserverApplication.java
  discoveryserver/src/main/resources/application.yaml
  discoveryserver/src/test/java/edu/tum/ase/discoveryserver/DiscoveryserverApplicationTests.java
Due: none

add eureka client to ui and project
  project/pom.xml
  project/src/main/resources/application.yaml
  ui/pom.xml
  ui/src/main/resources/application.yaml
Due: project:publish, ui:publish

Add application name to application.yaml files of ui and project
  project/src/main/resources/application.yaml
  ui/src/main/resources/application.yaml
Due: project:publish, ui:publish

format gateway application yaml
  gateway/src/main/resources/application.yaml
Due: none

Add delete functionality to source file list component
  ui/frontend/src/app/components/source-file-list/source-file-list.component.html
  ui/frontend/src/app/components/source-file-list/source-file-list.component.ts
  ui/frontend/src/app/services/project/project.service.ts
Due: ui:publish

Add custom route locator for gateway
  gateway/src/main/java/edu/tum/ase/gateway/GatewayApplication.java
Due: none

Update dependencies and routes of gateway
  gateway/pom.xml
  gateway/src/main/java/edu/tum/ase/gateway/GatewayApplication.java
  ui/frontend/consts.ts
Due: ui:publish

Add CORS configuration to GatewayApplication and remove CrossOrigin annotations from project
  gateway/src/main/java/edu/tum/ase/gateway/GatewayApplication.java
  project/src/main/java/edu/tum/ase/project/controller/ProjectController.java
  project/src/main/java/edu/tum/ase/project/controller/SourceFileController.java
Due: project:publish

Small Fix in gitlab ci file
  .gitlab-ci.yml
  project/src/test/java/edu/tum/ase/project/ProjectE2ERestTest.java
Due: project:publish

try different key in in deploy stage
  .gitlab-ci.yml
Due: none

changes in keys
  .gitlab-ci.yml
Due: none

Path conditions:
  compiler:publish: any of: compiler/**/*
  project:publish: any of: project/**/*
  ui:publish: any of: ui/**/*
