Repository antonmauz/onlineIDE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-compiler, build-project, build-ui, build-dark-mode, test-compiler, test-project, test-ui, test-dark-mode, package-compiler, package-project, package-ui, package-dark-mode, compiler:publish, project:publish, ui:publish, dark-mode:publish

build-compiler:
  stage: build
  script:
  - cd compiler
  - mvn clean compile

build-project:
  stage: build
  script:
  - cd project
  - mvn clean compile

build-ui:
  stage: build
  script:
  - cd ui
  - mvn clean compile

build-dark-mode:
  stage: build
  script:
  - cd dark-mode
  - mvn clean compile

test-compiler:
  stage: test
  script:
  - cd compiler
  - mvn test

test-project:
  stage: test
  script:
  - cd project
  - mvn test

test-ui:
  stage: test
  script:
  - cd project
  - mvn test

test-dark-mode:
  stage: test
  script:
  - cd dark-mode
  - mvn test

package-compiler:
  stage: package
  script:
  - cd compiler
  - mvn package -DskipTests=true
  artifacts:
    paths:
    - compiler/target/*.jar

package-project:
  stage: package
  script:
  - cd project
  - mvn package -DskipTests=true
  artifacts:
    paths:
    - project/target/*.jar

package-ui:
  stage: package
  script:
  - cd ui
  - mvn package -DskipTests=true
  artifacts:
    paths:
    - ui/target/*.jar

package-dark-mode:
  stage: package
  script:
  - cd dark-mode
  - mvn package -DskipTests=true
  artifacts:
    paths:
    - dark-mode/target/*.jar

compiler:publish:
  stage: publish
  image: docker:stable
  services:
  - docker:25.0.1-dind
  script:
  - cd compiler
  - docker login -u$CI_REGISTRY_USER -p$CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
  ...

project:publish:
  stage: publish
  image: docker:stable
  services:
  - docker:25.0.1-dind
  script:
  - cd project
  - docker login -u$CI_REGISTRY_USER -p$CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
  ...

ui:publish:
  stage: publish
  image: docker:stable
  services:
  - docker:25.0.1-dind
  script:
  - cd ui
  - docker login -u$CI_REGISTRY_USER -p$CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
  ...

dark-mode:publish:
  stage: publish
  image: docker:stable
  services:
  - docker:25.0.1-dind
  script:
  - cd dark-mode
  - docker login -u$CI_REGISTRY_USER -p$CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
  ...

Add cors to CompilerController
  compiler/src/main/java/edu/tum/ase/compiler/controller/CompilerController.java
Due: build-compiler, test-compiler, package-compiler, compiler:publish

Fix temp file name in CompilerService
  compiler/src/main/java/edu/tum/ase/compiler/service/CompilerService.java
Due: build-compiler, test-compiler, package-compiler, compiler:publish

Implement compilation in FE
  ui/frontend/src/app/components/editor/editor.component.css
  ui/frontend/src/app/components/editor/editor.component.html
  ui/frontend/src/app/components/editor/editor.component.ts
Due: build-ui, test-ui, package-ui, ui:publish

Improve generation of random files
  ui/frontend/src/app/components/source-file-list/source-file-list.component.ts
Due: build-ui, test-ui, package-ui, ui:publish

Change editor language to java
  ui/frontend/src/app/components/editor/editor.component.ts
Due: build-ui, test-ui, package-ui, ui:publish

Update Spring Cloud version in compiler pom.xml
  compiler/pom.xml
Due: build-compiler, test-compiler, package-compiler, compiler:publish

new gitlab ci config
  .gitlab-ci.yml
  discoveryserver/Dockerfile
  docker-compose.prod.yaml
  docker-compose.yaml
  gateway/Dockerfile
Due: none

update readme
  README.md
Due: none

changed stuff
  discoveryserver/src/test/java/edu/tum/ase/discoveryserver/DiscoveryserverApplicationTests.java
  gateway/src/test/java/edu/tum/ase/gateway/GatewayApplicationTests.java
Due: none

new docker compose
  docker-compose.prod.yaml
Due: none

add right-click menu functionality
  ui/frontend/src/app/app.module.ts
  ui/frontend/src/app/components/input-modal/input-modal.component.ts
  ui/frontend/src/app/components/source-file-list/source-file-list.component.html
  ui/frontend/src/app/components/source-file-list/source-file-list.component.ts
  ui/frontend/src/app/services/project/project.service.ts
Due: build-ui, test-ui, package-ui, ui:publish

Refactor input-modal.component.ts and source-file-list.component.ts
  ui/frontend/src/app/components/input-modal/input-modal.component.ts
  ui/frontend/src/app/components/source-file-list/source-file-list.component.html
  ui/frontend/src/app/components/source-file-list/source-file-list.component.ts
Due: build-ui, test-ui, package-ui, ui:publish

Remove unused import statement in SourceFileListComponent
  ui/frontend/src/app/components/source-file-list/source-file-list.component.ts
Due: build-ui, test-ui, package-ui, ui:publish

add todo project.service.ts
  ui/frontend/src/app/services/project/project.service.ts
Due: build-ui, test-ui, package-ui, ui:publish

Update output path and add devtools dep
  ui/frontend/angular.json
  ui/pom.xml
Due: build-ui, test-ui, package-ui, ui:publish

new gitlab ci file
  .gitlab-ci.yml
Due: none

new Ui
  compiler/src/test/java/edu/tum/ase/compiler/CompilerServiceTests.java
  dark-mode/src/test/java/edu/tum/ase/darkmode/DarkmodeApplicationTests.java
  discoveryserver/src/test/java/edu/tum/ase/discoveryserver/DiscoveryserverApplicationTests.java
  gateway/src/test/java/edu/tum/ase/gateway/GatewayApplicationTests.java
  project/src/test/java/edu/tum/ase/project/ProjectRepositoryIT.java
  ui/src/test/java/com/example/ui/UiApplicationTests.java
Due: build-compiler, build-project, build-ui, build-dark-mode, test-compiler, test-project, test-ui, package-compiler, package-project, package-ui, compiler:publish, project:publish, ui:publish, dark-mode:publish

new ui
  ui/src/test/java/com/example/ui/UiApplicationTests.java
Due: build-ui, test-ui, package-ui, ui:publish

Update moanco editor
  ui/frontend/package-lock.json
  ui/frontend/package.json
Due: build-ui, test-ui, package-ui, ui:publish

Dynamically set monaco editor language
  ui/frontend/src/app/components/editor/editor.component.html
  ui/frontend/src/app/components/editor/editor.component.ts
Due: build-ui, test-ui, package-ui, ui:publish

Debugging test
  .gitlab-ci.yml
  ui/src/test/java/com/example/ui/UiApplicationTests.java
Due: build-ui, test-ui, package-ui, ui:publish

test
  ui/frontend/angular.json
Due: build-ui, test-ui, package-ui, ui:publish

Add styling for editor std
  ui/frontend/src/app/components/editor/editor.component.css
Due: build-ui, test-ui, package-ui, ui:publish

Remove unneede strings in editor
  ui/frontend/src/app/components/editor/editor.component.html
Due: build-ui, test-ui, package-ui, ui:publish

Remove comment
  ui/frontend/src/app/components/editor/editor.component.ts
Due: build-ui, test-ui, package-ui, ui:publish

approach of adding authentication to gateway
  gateway/pom.xml
  gateway/src/main/java/edu/tum/ase/gateway/GatewayApplication.java
  gateway/src/main/java/edu/tum/ase/gateway/SpringSecurityConfig.java
  gateway/src/main/resources/application.yaml
  ui/frontend/src/app/auth.service.ts
  ui/pom.xml
  ui/src/main/java/com/example/ui/UiApplication.java
  ui/src/main/java/com/example/ui/WebSecurityConfiguration.java
  ui/src/main/resources/application.yaml
Due: build-ui, test-ui, package-ui, ui:publish

disable CSRF protection
  gateway/src/main/java/edu/tum/ase/gateway/GatewayApplication.java
  gateway/src/main/java/edu/tum/ase/gateway/SpringSecurityConfig.java
Due: none

Add logout success handler
  gateway/src/main/java/edu/tum/ase/gateway/SpringSecurityConfig.java
Due: none

Update request mapping in ForwardToIndexController
  ui/src/main/java/com/example/ui/UiApplication.java
Due: build-ui, test-ui, package-ui, ui:publish

Revert "Update request mapping in ForwardToIndexController"
  ui/src/main/java/com/example/ui/UiApplication.java
Due: build-ui, test-ui, package-ui, ui:publish

add edit name functionality
  project/src/main/java/edu/tum/ase/project/service/SourceFileService.java
  ui/frontend/src/app/app.module.ts
  ui/frontend/src/app/components/source-file-list/source-file-list.component.html
  ui/frontend/src/app/components/source-file-list/source-file-list.component.ts
Due: build-project, build-ui, test-project, test-ui, package-project, package-ui, project:publish, ui:publish

Refactor source-file-list
  ui/frontend/src/app/components/source-file-list/source-file-list.component.css
  ui/frontend/src/app/components/source-file-list/source-file-list.component.html
  ui/frontend/src/app/components/source-file-list/source-file-list.component.ts
Due: build-ui, test-ui, package-ui, ui:publish

add project name editing functionality
  ui/frontend/src/app/components/project-list/project-list.component.html
  ui/frontend/src/app/components/project-list/project-list.component.ts
  ui/frontend/src/app/services/project/project.service.ts
Due: build-ui, test-ui, package-ui, ui:publish

Add save button to code-editor
  ui/frontend/src/app/components/editor/editor.component.html
  ui/frontend/src/app/components/editor/editor.component.ts
Due: build-ui, test-ui, package-ui, ui:publish

improve compile button
  ui/frontend/src/app/components/editor/editor.component.html
  ui/frontend/src/app/components/editor/editor.component.ts
Due: build-ui, test-ui, package-ui, ui:publish

update addFile method
  ui/frontend/src/app/components/editor/editor.component.ts
  ui/frontend/src/app/components/input-modal/input-modal.component.ts
Due: build-ui, test-ui, package-ui, ui:publish

new project tests
  project/src/test/java/edu/tum/ase/project/ProjectRepositoryIT.java
Due: build-project, test-project, package-project, project:publish

new test
  gateway/src/test/java/edu/tum/ase/gateway/GatewayApplicationTests.java
Due: none

test pipeline
  gateway/src/test/java/edu/tum/ase/gateway/GatewayApplicationTests.java
Due: none

Add dark-mode to gateway
  dark-mode/pom.xml
  dark-mode/src/main/resources/application.yaml
  gateway/src/main/resources/application.yaml
Due: build-dark-mode, dark-mode:publish

Path conditions:
  build-compiler: any of: compiler/**/*
  build-project: any of: project/**/*
  build-ui: any of: ui/**/*
  build-dark-mode: any of: dark-mode/**/*
  test-compiler: any of: compiler/**/*
  test-project: any of: project/**/*
  test-ui: any of: ui/**/*
  test-dark-mode: any of: darkmode/**/*
  package-compiler: any of: compiler/**/*
  package-project: any of: project/**/*
  package-ui: any of: ui/**/*
  package-dark-mode: any of: darkm-mode/**/*
  compiler:publish: any of: compiler/**/*
  project:publish: any of: project/**/*
  ui:publish: any of: ui/**/*
  dark-mode:publish: any of: dark-mode/**/*
