Repository antonmauz/onlineIDE: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-compiler, build-project, build-ui, test-compiler, test-project, test-ui, package-compiler, package-project, package-ui, compiler:publish, project:publish, ui:publish

build-compiler:
  stage: build
  script:
  - cd compiler
  - mvn clean compile

build-project:
  stage: build
  script:
  - cd project
  - mvn clean compile

build-ui:
  stage: build
  script:
  - cd ui
  - mvn clean compile

test-compiler:
  stage: test
  script:
  - cd compiler
  - mvn test

test-project:
  stage: test
  script:
  - cd project
  - mvn test

test-ui:
  stage: test
  script:
  - cd project
  - mvn test

package-compiler:
  stage: package
  script:
  - cd compiler
  - mvn package -DskipTests=true
  artifacts:
    paths:
    - compiler/target/*.jar

package-project:
  stage: package
  script:
  - cd project
  - mvn package -DskipTests=true
  artifacts:
    paths:
    - project/target/*.jar

package-ui:
  stage: package
  script:
  - cd ui
  - mvn package -DskipTests=true
  artifacts:
    paths:
    - ui/target/*.jar

compiler:publish:
  stage: publish
  image: docker:stable
  services:
  - docker:25.0.1-dind
  script:
  - cd compiler
  - docker login -u$CI_REGISTRY_USER -p$CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
  ...

project:publish:
  stage: publish
  image: docker:stable
  services:
  - docker:25.0.1-dind
  script:
  - cd project
  - docker login -u$CI_REGISTRY_USER -p$CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
  ...

ui:publish:
  stage: publish
  image: docker:stable
  services:
  - docker:25.0.1-dind
  script:
  - cd ui
  - docker login -u$CI_REGISTRY_USER -p$CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker pull $IMAGE_NAME:latest || true
  - docker build --tag $IMAGE_NAME:latest .
  - docker push $IMAGE_NAME:latest
  variables:
  ...

new version
  .gitlab-ci.yml
Due: none

added ssh agent
  .gitlab-ci.yml
Due: none

new docker-compose
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

Testing whole pipeline
  .gitlab-ci.yml
Due: none

New Prod docker-compose file
  .gitlab-ci.yml
  docker-compose.prod.yaml
Due: none

prod
  .gitlab-ci.yml
Due: none

Added publishing for darkmode
  .gitlab-ci.yml
  dark-mode/src/test/java/edu/tum/ase/darkmode/DarkmodeApplicationTests.java
  docker-compose.prod.yaml
Due: none

Darkmode added to gitlab ci
  .gitlab-ci.yml
Due: none

TEST: Update dependencies and routes configuration
  gateway/pom.xml
  gateway/src/main/java/edu/tum/ase/gateway/GatewayApplication.java
  gateway/src/main/resources/application.yaml
Due: none

New external IP
  .gitlab-ci.yml
Due: none

new runner
  .gitlab-ci.yml
  compiler/src/test/java/edu/tum/ase/compiler/CompilerServiceTests.java
  project/src/test/java/edu/tum/ase/project/ProjectRepositoryIT.java
  ui/src/test/java/com/example/ui/UiApplicationTests.java
Due: build-compiler, build-project, build-ui, test-compiler, test-project, test-ui, package-compiler, package-project, package-ui, compiler:publish, project:publish, ui:publish

new runner
  compiler/src/test/java/edu/tum/ase/compiler/CompilerServiceTests.java
  project/src/test/java/edu/tum/ase/project/ProjectRepositoryIT.java
  ui/src/test/java/com/example/ui/UiApplicationTests.java
Due: build-compiler, build-project, build-ui, test-compiler, test-project, test-ui, package-compiler, package-project, package-ui, compiler:publish, project:publish, ui:publish

new runner
  .gitlab-ci.yml
Due: none

new runner
  project/src/test/java/edu/tum/ase/project/ProjectRepositoryIT.java
Due: build-project, test-project, package-project, project:publish

new runner
  compiler/compiled/HelloWorld1.java
Due: build-compiler, test-compiler, package-compiler, compiler:publish

test
  compiler/src/test/java/edu/tum/ase/compiler/CompilerServiceTests.java
Due: build-compiler, test-compiler, package-compiler, compiler:publish

new gitlab runner registered
  compiler/src/test/java/edu/tum/ase/compiler/CompilerControllerTest.java
Due: build-compiler, test-compiler, package-compiler, compiler:publish

test
  compiler/src/test/java/edu/tum/ase/compiler/CompilerControllerTest.java
Due: build-compiler, test-compiler, package-compiler, compiler:publish

new gitlab ci file
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
  compiler/src/test/java/edu/tum/ase/compiler/CompilerServiceTests.java
Due: build-compiler, test-compiler, package-compiler, compiler:publish

runnning in the backgorund
  compiler/src/test/java/edu/tum/ase/compiler/CompilerServiceTests.java
Due: build-compiler, test-compiler, package-compiler, compiler:publish

new gitlab runner
  compiler/src/test/java/edu/tum/ase/compiler/CompilerServiceTests.java
Due: build-compiler, test-compiler, package-compiler, compiler:publish

Added docker to usergroup
  compiler/src/test/java/edu/tum/ase/compiler/CompilerServiceTests.java
Due: build-compiler, test-compiler, package-compiler, compiler:publish

added sudo access
  .gitlab-ci.yml
  compiler/src/test/java/edu/tum/ase/compiler/CompilerControllerTest.java
Due: build-compiler, test-compiler, package-compiler, compiler:publish

Adapted instance external IP
  .gitlab-ci.yml
Due: none

changed docker-compose to docker compose
  .gitlab-ci.yml
Due: none

gitlab runner with sudo systemctl
  compiler/src/test/java/edu/tum/ase/compiler/CompilerControllerTest.java
Due: build-compiler, test-compiler, package-compiler, compiler:publish

New gitlab runner run
  ui/src/test/java/com/example/ui/UiApplicationTests.java
Due: build-ui, test-ui, package-ui, ui:publish

new gitlab runner setup
  project/src/test/java/edu/tum/ase/project/ProjectRepositoryIT.java
Due: build-project, test-project, package-project, project:publish

testing functionality of gitlab deploy
  dark-mode/src/test/java/edu/tum/ase/darkmode/DarkmodeApplicationTests.java
Due: none

New ProjectRepository test
  project/src/test/java/edu/tum/ase/project/ProjectRepositoryIT.java
Due: build-project, test-project, package-project, project:publish

Cleared cache of runner
  project/src/test/java/edu/tum/ase/project/ProjectRepositoryIT.java
Due: build-project, test-project, package-project, project:publish

Only trigger CI / CD on main branch
  .gitlab-ci.yml
Due: none

Create DTOs for SourceFiles
  ui/frontend/src/app/classes/sourceFile/sourceFile.ts
  ui/frontend/src/app/services/project/project.service.ts
Due: build-ui, test-ui, package-ui, ui:publish

Add compiler backend constant
  ui/frontend/consts.ts
Due: build-ui, test-ui, package-ui, ui:publish

Create compiler service in fe
  ui/frontend/src/app/services/compiler/compiler.service.spec.ts
  ui/frontend/src/app/services/compiler/compiler.service.ts
Due: build-ui, test-ui, package-ui, ui:publish

Fix black text on black bg
  ui/frontend/src/app/components/source-file-list/source-file-list.component.css
Due: build-ui, test-ui, package-ui, ui:publish

Rename sourceCode to code for consistency
  project/src/main/java/edu/tum/ase/project/controller/SourceFileController.java
  project/src/main/java/edu/tum/ase/project/model/SourceFile.java
  project/src/main/java/edu/tum/ase/project/model/SourceFileDTO.java
Due: build-project, test-project, package-project, project:publish

Path conditions:
  build-compiler: any of: compiler/**/*
  build-project: any of: project/**/*
  build-ui: any of: ui/**/*
  test-compiler: any of: compiler/**/*
  test-project: any of: project/**/*
  test-ui: any of: ui/**/*
  package-compiler: any of: compiler/**/*
  package-project: any of: project/**/*
  package-ui: any of: ui/**/*
  compiler:publish: any of: compiler/**/*
  project:publish: any of: project/**/*
  ui:publish: any of: ui/**/*
